@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@font-face {
  font-family: 'VT323';
  src: url('./font/VT323-Regular.ttf'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 20px;
  border: 3px solid black;
}

/* a {
  text-decoration: none; /* no underline 
} */

body{
  background-color: black;
  color: white;
  font-family: 'VT323', sans-serif;
  height: 100%;
  width: 100%;
}

html{
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  height: 10%;
}

.App{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.navbar-left {
  padding-left: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  


}

.navbar-right {
  height: 100%;
  display: flex;
  align-items: center;

}

ul{
  list-style: none;

}

.nav_logo{
  color: cornflowerblue;
  padding-top: 5px;
  padding-right: 10px;
}

.faicon{
  margin: 30px;
  opacity: 0.2;
  cursor: pointer;
  
}

.faicon:hover{
  opacity: 0.8;
  color: rgb(218, 123, 22);
}

.btn {
  width: 150px;
  height: 100%;
  color:white;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  

}

.btn:hover{
  border-top: 5px solid rgb(225, 168, 107);
  opacity: 80%;
}

.btn:nth-child(1):hover{
  background-color: rgb(218, 153, 84);
}

.btn:nth-child(2):hover{
  background-color: rgb(196, 106, 176);
}
.btn:nth-child(3):hover{
  background-color: rgb(96, 201, 112);
}

main{
  flex: 1;
}

.banner{
  margin: 10% 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  color:rgb(218, 123, 22);
}

  .footer {
    background-color: rgb(218, 123, 22);
    border-top: 2px solid rgb(225, 168, 107);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 25px;
    text-align: center;
}


.content{
  position: fixed;
  top:10%;
  height: 85%;
  width: 100%;
}
